@{
    ViewData["Title"] = "EmailConfirmation";
}

@section Desktop{
    <h2>@Localizer["DesktopTitle"]</h2> }

@section Mobile{
    <h2>@Localizer["MobileTitle"]</h2> }

<h2>Email confirmation</h2>
<p>
    An email has been sent to @ViewBag.Email, please confirm your email address by clicking on the provided link.
</p>


@section Scripts
{
    <script>
        $(document).ready(function() {
            EmailConfirmation('@ViewBag.Email');
        });
    </script>
}